In [1]:
#1-create one variable containing following type of data

In [3]:
#for string variable
s = "chandan"
s1 = 'katil'
#for list
l=[1,2,3,4,56]
#for float
chandan = 92.5
#for touple
t=(1,2,3,5,6,70)

In [4]:
#2-Given are some following variables containing data

In [5]:
#(i) var1 =''

#Ans--

its a string data type
#(ii) var2 ='[DS,ML,Python]'
its a string data type 
#(iii) var3 =['Ds','ML','Python']
its a list data type
#(iv) var4 =1
its a int data type

str

In [6]:
#3-Explain the use of following operators using  an exapmle 
#(i) /
it give us quotient 
means --45/3 = 15 
# %
it give us reminder 
means 8%3=2
#//
its give a round value quotient called as floor division
13//2=7

#**
its used for squre the value 
5**5 = 25

In [24]:
# 4-Create a list of 10of your choice containing multiple types of data.Using for loop print the element and its data type 
l=[1,2,3,"chandan","katil",45.6,[1,2,3,4],(1,2,3,4)]

for i in l:
         print((i), type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
chandan <class 'str'>
katil <class 'str'>
45.6 <class 'float'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>

In [28]:
#6.create a list containing 25 int type data .Using for loop and if and else condition print if the element is divisible by 3 or not 

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l:
    if i%3==0:
        print (i," --its  divisible by 3")
    else :
        print(i," --its not divisible by 3")

1  --its not divisible by 3
2  --its not divisible by 3
3  --its  divisible by 3
4  --its not divisible by 3
5  --its not divisible by 3
6  --its  divisible by 3
7  --its not divisible by 3
8  --its not divisible by 3
9  --its  divisible by 3
10  --its not divisible by 3
11  --its not divisible by 3
12  --its  divisible by 3
13  --its not divisible by 3
14  --its not divisible by 3
15  --its  divisible by 3
16  --its not divisible by 3
17  --its not divisible by 3
18  --its  divisible by 3
19  --its not divisible by 3
20  --its not divisible by 3
21  --its  divisible by 3
22  --its not divisible by 3
23  --its not divisible by 3
24  --its  divisible by 3
25  --its not divisible by 3

In [29]:
#7-what do you understand about mutable and immutable data types ? Give exapmles for both showing this property
here mutable can be changed or modfified where immutable cant be change 
mutable is list , dict and sets 
example -
l=[1,2,3,4]
if i am going to assing here l[0]=[67,12,23] it get assign new value ...and when i am goig to print l then  value throw [[67,12,23],2,3,4]
it means it can be changed 
where as 
immutable is numbers , tuples , strings
example 
c="chandan"
here whenever i am going to assign new value it would be not change and throw error

SyntaxError: invalid syntax (71922538.py, line 2)